body header{
    background-color: #327da8;
    padding:15px 9%;
    justify-content: center;
    margin: 0px;
}
 h2{
    font-size: 20px;
}
body {
    padding:0px;
}
div{
    padding:5px 15px ;
}
form label{
    padding: 20px 5px;
}
form {
    padding-top: 20px;;
}
.passwordViewStyle{
    font-size: 20px;
    padding: 20px;
}